@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* GENERAL STYLING */

:root {
  --color-primary: #006462;
  --color-secondary: #f47321;
  --color-dark: #48505f;
  --color-light: #e3e3e3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins";
  line-height: 1.4;
  color: #000;
}

a{
    color: var(--color-primary);
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

/*  */