@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* GENERAL */
:root {
  --color-primary: #006462;
  --color-secondary: #f47321;
  --color-dark: #48505f;
  --color-light: #e3e3e3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins";
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  width: 100%;
  max-width: 500px;
}

section {
  padding: 0 2rem;
}

section,
main.bg-primary {
  margin-top: 30px;
  padding-bottom: 30px;
}

i {
  color: #fff;
}

input:not(input.btn),
textarea {
  background-color: #e0edec;
  border-radius: 10px;
  padding: 6px 10px;
  margin-bottom: 10px;
  width: 300px;
}

article.box-text section p {
  margin-top: 10px;
  margin-bottom: 30px;
}
/* NAVBAR */
header {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.navbar {
  display: block;
  margin: 0 auto;
  width: 80%;
  /* max-width: 1000px; */
  height: auto;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  padding: 10px;
}

.navbar,
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  margin: 0 2rem;
}

.navbar a:hover {
  box-shadow: 0 1.3px var(--color-primary);
}

.logo {
  width: 100px;
  height: auto;
}

.selected {
  color: var(--color-primary);
}

/* BOX */

.box-a img,
.box-e img,
.box-text {
  max-width: 500px;
  margin: 0 auto;
  justify-self: center;
  /* padding: 20px 0; */
}

.box-text p,
.box-text .btn {
  margin-top: 20px;
}

.box-text input.btn {
  margin-top: 0;
}

.box-b h2 {
  grid-column: 1/-1;
  font-size: 2rem;
  margin-left: 10%;
}

.box-b p {
  margin-top: 1rem;
}

.box-e {
  margin-left: 2rem;
  margin-bottom: 30px;
}

/* GRID STYLES */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

article.grid-col-2 {
  gap: 5rem;
}

.grid-col-2b {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
}

.grid-col-3 {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  row-gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.box-b .grid-col-3 img {
  max-width: 100px;
  justify-self: center;
}

.box-d .grid-col-3 img {
  max-width: 350px;
  justify-self: center;
}

.grid-reversed :first-child {
  order: 2;
}

footer .grid-col-3 * {
  place-self: center;
}

.flex {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}
/* BUTTONS */
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 9px 20px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-primary);
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

input.btn {
  padding: 6px 15px;
}

/* BACKGROUNDS */
.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-light {
  background-color: var(--color-light);
  color: #000;
}

/* TEXT STYLING */
.text-center {
  text-align: center;
}

.text-light {
  font-weight: lighter;
}

/* MARGINS AND PADDINGS */
.m-right {
  margin-right: 1rem;
}

/* FOOTER */
footer {
  padding: 5px;
}
span:first-of-type {
  color: var(--color-secondary);
  display: block;
}

/* BURGER MENU ICON */
.burger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.burger-top,
.burger-middle,
.burger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.burger-middle {
  transform: translateY(7px);
}

.burger-bottom {
  transform: translateY(14px);
}

.open .burger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .burger-middle {
  display: none;
}

.open .burger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 100px;
  right: 0;
  background-color: var(--color-primary);
  width: 90%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu ul a {
  color: #fff;
  line-height: 3;
  border-bottom: 1px solid #fff;
  font-size: 20px;
}

.mobile-menu a:hover {
  box-shadow: 0 1.3px var(--color-secondary);
  color: var(--color-secondary);
}

.mobile-menu div:last-child {
  margin-top: 30px;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1440px) {
  .navbar a {
    margin: 0 3.5rem;
  }

  .box-a img {
    max-width: 600px;
  }
  .navbar,
  .box-a,
  .box-e,
  main.bg-primary {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .box-b .grid-col-3 {
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    width: 100%;
  }

  .navbar a {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 760px) {
  .burger {
    display: block;
  }
  .navbar {
    border: none;
    box-shadow: none;
    justify-content: space-between;
  }

  .navbar ul {
    display: none;
  }
  .grid-col-2,
  .grid-col-2b,
  .grid-col-3 {
    grid-template-columns: 1fr;
  }

  .box-a.grid-col-2 img:first-child {
    order: 2;
  }

  article.grid-col-2 {
    gap: 0;
  }
  article.box-text {
    max-width: 300px;
    margin: 0 auto;
    justify-self: center;
  }
}
